.main-directions {
    width: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    background: #222222;
    color: white;

}

.main-directions__title {
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    left: -45%;
    top: 2%;
    transform: translateX(33%);
    z-index: 10000;
}


.main-directions__stack {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    overflow: hidden;
}

.main-directions__image {
    position: absolute;
    top: 0;
    height: auto;
    left: 0;
    width: 75%;
    object-fit: cover;
}
.main-directions__image.left{
    left: 25%;
}
.main-directions__text {
    position: absolute;
    bottom: 20%;
    left: 2%;
    color: white;
    z-index: 3;
    text-shadow: 0 0 5px black;
}
.main-directions__text h2{
    margin-bottom: 20px;
}
.main-directions__text h3{
    width: 40%;
}
.main-directions__text__left{
    margin-left: 60%;
}
.main-directions__text.left {
    left: auto;
    right: 2%;
    text-align: right;
}